body {
  background-color: initial;
}

#LenkaE {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#BronkaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KristynaT {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#LuciaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}
