body {
  background-color: initial;
}

#LenkaE {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#BronkaK {
  background-color:yellowgreen;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:blueviolet;
}

#KristynaT {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#LuciaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}
